---
layout: archive
title: "Education"
permalink: /education/
author_profile: true
---

{% if site.author.linkedin %}
  <div class="wordwrap">You can also find my education and experience on <a href="{{site.author.linkedin}}">my LinkedIn profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if education categories are defined -->
{% if site.education_category %}
  {% for category in site.education_category %}
    {% assign title_shown = false %}
    {% assign educations_in_category = site.educations | where: "category", category[0] %}
    {% if educations_in_category.size > 0 %}
      <h2>{{ category[1].title }}</h2><hr />
      {% for education in educations_in_category reversed %}
        {% include education-single.html education=education %}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% else %}
  {% for education in site.educations reversed %}
    {% include education-single.html education=education %}
  {% endfor %}
{% endif %}
